.number{
  text-align: center;
  margin: 0 auto;
  width: 25%;
  height: 50px;
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  padding: 30px;
  margin-top: 20%;
  margin-bottom: 3%;
  font-size: 60px;
  border-radius: .6em;
}


.operaciones , .mensaje {
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  width: 30%;

}


input{
  width: 80px;
  height: 80px;
  margin-right: 15px;
  /* height: 200px; 
  width: 200px;  */
  border-radius: 50%;
  font-size: 40px;
}

.mensaje{
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  margin-top: 3%;
  height: 45px;
  padding: 20px;
  border-top-left-radius: 50px 100px;
  border-bottom-right-radius: 50px 100px;
  border: 2px solid rgb(37, 169, 173);
  font-size: 26px;
} 
/* 
.mensaje span {
  margin-top: 10px;
  display: block;
} */
