
  <div class="number">
    <span>{{n}}</span>
  </div>
  <div class="operaciones">
    <input type="button" value="+" (click)="sumar()">
    <input type="button" value="-" (click)="restar()">
  </div>

<div class="mensaje">
  {{darMensaje()}}
</div>